.col{
    border: 30px  solid  purple
}

.class-col{
    color: red;
}
.col-lg-4{
    border:  10px solid red
}
.col-lg-4{
    border: 10px solid red;
}
.class-col-lg-4{
    color: darkblue;
}
.col-sm-2{
    border: 30px solid cadetblue
}
.class-col-sm-2{
    color: black;
}
.col-sm-8{
    border: 30px  solid chartreuse;
}
.class-col-sm-8{
    color: chartreuse;
}
.col-md-10{
    border: 30px solid darkred;
}

.class-col-md{
    color: darkred;
}

.col-md-2{
    border:30px solid darkred
}